<header id="classHeader" class="w-100 mt-2 text-center">
  <h1>All Spells</h1>
  <h3>In alphabetically order</h3>
</header>

<div class="spell-list">

  <div id="filters" class="d-flex flex-row justify-content-between">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" [(ngModel)]="showOnlyRitual" [ngModelOptions]="{standalone: true}" id="ritual" (change)="filterChange()">
      <label class="custom-control-label" for="ritual">Show only rituals</label>
    </div>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" [(ngModel)]="showOnlyConcentration" [ngModelOptions]="{standalone: true}" id="concentration" (change)="filterChange()">
      <label class="custom-control-label" for="concentration">Show only concentration</label>
    </div>
  </div>

  <div *ngFor="let spell of displayedSpells">
    <button class="spell-item btn w-100" [routerLink]="['/spell', spell.id]" [routerLink]="['/spell', spell.id]">
      {{spell.name}}
    </button>
  </div>
</div>

<!-- <div id="spells" class="d-flex vh-100">
  <div class="flex-wrapper"> 
    <div class="table table-sm p-3">
      <table class="table table-striped">
        <thead class="sticky-top">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Level</th>
            <th scope="col">School</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let spell of spells" (click)="select(spell)">
            <th scope="row">{{spell.id}}</th>
            <td>{{spell.name}}</td>
            <td>{{spell.level}}</td>
            <td>{{spell.school}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="selectedSpell" class="flex-wrapper w-50 p-3">
    <div class="card">
      <div class="card-header">
        <h6>{{selectedSpell.name}}</h6>
        <span>Level {{selectedSpell.level}} - <em>({{selectedSpell.school}})</em></span>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
            <span>Casting Time: {{selectedSpell.castingTime}}</span><br>
            <span>Range: {{selectedSpell.range}}</span><br>
            <span>Components: {{selectedSpell.components}}</span><br>
            <span>Duration: {{selectedSpell.duration}}</span><br><br>
            <p>Description:</p>
            <div innerHtml="{{selectedSpell.description}}"></div>
            <h6>Description Edit</h6>
            <editor apiKey="d6wotuq1x999s7bqtffo0gueakoue5bcxeu4u6xw0g6ydmzg"
              name="description"
              [(ngModel)]="selectedSpell.description"
              [init]="{
                height: 300,
                menubar: false,
                plugins: [
                  'advlist autolink lists link image charmap print',
                  'preview anchor searchreplace visualblocks code',
                  'fullscreen insertdatetime media table paste',
                  'help wordcount'
                ],
                toolbar:
                  'undo redo | formatselect | bold italic | \
                  alignleft aligncenter alignright alignjustify | \
                  table tabledelete | tableprops tablerowprops tablecellprops | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol \
                  bullist numlist outdent indent | help'
              }"
            >
            </editor>
            <button type="submit" class="btn btn-success">Update</button>
          </form>
        </div>
        <pre>{{spells | json}}</pre>
      </div>
    </div>
  </div> 
</div> -->
