<div *ngIf="characterClass" class="container d-flex flex-column">
  <header id="classHeader" class="w-100 mt-2">
    <h1 class="text-center">{{characterClass.name}}</h1>
  </header>
  <main class="d-flex flex-row">
    <div class="d-none d-md-inline-block">
      <div class="card m-2">
        <div class="card-body" innerHtml="{{characterClass.description}}"></div>
        <div class="card-footer">
          <div class="float-right">
            <div [routerLink]="['/characterClasses', characterClass.id, 'edit']" routerLinkActive="router-link-active">
              edit
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="m-2">
        <div *ngIf="characterClass.fullSpellCaster" class="card mb-1">
          <div class="card-header collapsed" id="headingCantrips" data-toggle="collapse" data-target="#collapseCantrips" aria-expanded="false" aria-controls="collapseCantrips">
            <h5 class="mb-0 text-center">
              Cantrips
            </h5>
          </div>
          <div id="collapseCantrips" class="collapse" aria-labelledby="headingCantrips" >
            <div class="card-body">
              <ul class="list-unstyled">
                <li *ngFor="let spell of allClassSpells">
                  <button *ngIf="spell.level === 0" class="btn w-100" [routerLink]="['/spell', spell.id]" [routerLink]="['/spell', spell.id]">
                    {{spell.name}}
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card mb-1">
          <div class="card-header collapsed" id="headingFirst" data-toggle="collapse" data-target="#collapse1st" aria-expanded="false" aria-controls="collapse1st">
            <h5 class="mb-0 text-center">
              1st Level
            </h5>
          </div>
          <div id="collapse1st" class="collapse" aria-labelledby="headingFirst" >
            <div class="card-body">
              <ul class="list-unstyled">
                <li *ngFor="let spell of allClassSpells">
                  <button *ngIf="spell.level === 1" class="btn w-100" [routerLink]="['/spell', spell.id]">
                    {{spell.name}}
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card mb-1">
          <div class="card-header collapsed" id="heading2nd" data-toggle="collapse" data-target="#collapse2nd" aria-expanded="false" aria-controls="collapse2nd">
            <h5 class="mb-0 text-center">
              2nd Level
            </h5>
          </div>
          <div id="collapse2nd" class="collapse" aria-labelledby="heading2nd" >
            <div class="card-body">
              <ul class="list-unstyled">
                <li *ngFor="let spell of allClassSpells">
                  <button *ngIf="spell.level === 2" class="btn w-100" [routerLink]="['/spell', spell.id]">
                    {{spell.name}}
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card mb-1">
          <div class="card-header collapsed" id="heading3rd" data-toggle="collapse" data-target="#collapse3rd" aria-expanded="false" aria-controls="collapse3rd">
            <h5 class="mb-0 text-center">
              3rd Level
            </h5>
          </div>
          <div id="collapse3rd" class="collapse" aria-labelledby="heading3rd" >
            <div class="card-body">
              <ul class="list-unstyled">
                <li *ngFor="let spell of allClassSpells">
                  <button *ngIf="spell.level === 3" class="btn w-100" [routerLink]="['/spell', spell.id]">
                    {{spell.name}}
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card mb-1">
          <div class="card-header collapsed" id="heading4th" data-toggle="collapse" data-target="#collapse4th" aria-expanded="false" aria-controls="collapse4th">
            <h5 class="mb-0 text-center">
              4th Level
            </h5>
          </div>
          <div id="collapse4th" class="collapse" aria-labelledby="heading4th" >
            <div class="card-body">
              <ul class="list-unstyled">
                <li *ngFor="let spell of allClassSpells">
                  <button *ngIf="spell.level === 4" class="btn w-100" [routerLink]="['/spell', spell.id]">
                    {{spell.name}}
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card mb-1">
          <div class="card-header collapsed" id="heading5th" data-toggle="collapse" data-target="#collapse5th" aria-expanded="false" aria-controls="collapse5th">
            <h5 class="mb-0 text-center">
              5th Level
            </h5>
          </div>
          <div id="collapse5th" class="collapse" aria-labelledby="heading5th" >
            <div class="card-body">
              <ul class="list-unstyled">
                <li *ngFor="let spell of allClassSpells">
                  <button *ngIf="spell.level === 5" class="btn w-100" [routerLink]="['/spell', spell.id]">
                    {{spell.name}}
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div *ngIf="characterClass.fullSpellCaster">
          <div class="card mb-1">
            <div class="card-header collapsed" id="heading6th" data-toggle="collapse" data-target="#collapse6th" aria-expanded="false" aria-controls="collapse6th">
              <h5 class="mb-0 text-center">
                6th Level
              </h5>
            </div>
            <div id="collapse6th" class="collapse" aria-labelledby="heading6th" >
              <div class="card-body">
                <ul class="list-unstyled">
                  <li *ngFor="let spell of allClassSpells">
                    <button *ngIf="spell.level === 6" class="btn w-100" [routerLink]="['/spell', spell.id]">
                      {{spell.name}}
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card mb-1">
            <div class="card-header collapsed" id="heading7th" data-toggle="collapse" data-target="#collapse7th" aria-expanded="false" aria-controls="collapse7th">
              <h5 class="mb-0 text-center">
                7th Level
              </h5>
            </div>
            <div id="collapse7th" class="collapse" aria-labelledby="heading7th" >
              <div class="card-body">
                <ul class="list-unstyled">
                  <li *ngFor="let spell of allClassSpells">
                    <button *ngIf="spell.level === 7" class="btn w-100" [routerLink]="['/spell', spell.id]">
                      {{spell.name}}
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card mb-1">
            <div class="card-header collapsed" id="heading8th" data-toggle="collapse" data-target="#collapse8th" aria-expanded="false" aria-controls="collapse8th">
              <h5 class="mb-0 text-center">
                8th Level
              </h5>
            </div>
            <div id="collapse8th" class="collapse" aria-labelledby="heading8th" >
              <div class="card-body">
                <ul class="list-unstyled">
                  <li *ngFor="let spell of allClassSpells">
                    <button *ngIf="spell.level === 8" class="btn w-100" [routerLink]="['/spell', spell.id]">
                      {{spell.name}}
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header collapsed" id="heading9th" data-toggle="collapse" data-target="#collapse9th" aria-expanded="false" aria-controls="collapse9th">
              <h5 class="mb-0 text-center">
                9th Level
              </h5>
            </div>
            <div id="collapse9th" class="collapse" aria-labelledby="heading9th" >
              <div class="card-body">
                <ul class="list-unstyled">
                  <li *ngFor="let spell of allClassSpells">
                    <button *ngIf="spell.level === 9" class="btn w-100" [routerLink]="['/spell', spell.id]">
                      {{spell.name}}
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
