@import '../../../variables.scss';

h1, h3 {
  font-family: 'Milonga', cursive;
}

h5, button {
  font-family: 'Milonga', cursive;
  color: $dark;
  font-weight: 600;
}

.card {
  border-color: $border;
}

.card-body {
  font-family: 'Montserrat', sans-serif;
  background-color: $background-light;
}

.card-header {
  background-color: $background-emphasis;
  color: $dark;
}

.card-footer {
  background-color: $background-emphasis;
  color: $dark;
  font-family: 'Milonga', cursive;
}
