@import '../../variables.scss';

h4 {
  font-family: 'Milonga', cursive;
  font-weight: 750;
}

.card {
  border-color: $border;
}

.card-body {
  min-height: 11em;
  background-color: #faeed3;
  font-family: 'Montserrat', sans-serif;
  font-size: smaller;
  font-weight: 700;
  color: $dark;
}

.card-header {
  background-color: $background-emphasis;
  color: $dark;
}

.card-footer {
  background-color: $background-emphasis;
  color: $dark;
  font-family: 'Milonga', cursive;
  font-weight: 700;
  min-height: 3em;
}
