<div class="container d-flex mt-2 flex-wrap vw-100">
  <div *ngFor="let cc of characterClasses" class="mb-2 col-12 col-md-4">
    <div class="card" [routerLink]="['/characterClasses', cc.id]" routerLinkActive="router-link-active" >
      <div class="card-header">
        <h4 class="card-title">{{cc.id}}-{{cc.name}}</h4>
      </div>
      <div class="card-body" innerHtml="{{ cc.description | firstParagraphTruncated }}"></div>
      <div class="card-footer">
        <div *ngIf="cc.id !== 0" class="float-right">
          <span *ngIf="cc.fullSpellCaster">
            <fa-icon [icon]="faFull"></fa-icon>
            Full Caster
          </span>
          <span *ngIf="!cc.fullSpellCaster">
            <fa-icon [icon]="faPartial"></fa-icon>
            Partial Caster
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
