<div *ngIf="characterClass" class="container d-flex flex-row">
  <div class="w-50">
    <div class="card m-2">
      <div class="card-header">
        <h3>{{characterClass.name}}</h3>
      </div>
      <div class="card-body" innerHtml="{{characterClass.description}}"></div>
    </div>
  </div>
  <div class="w-50">
    <div id="accordion" class="m-2">
      <div *ngIf="characterClass.fullSpellCaster" class="card">
        <div class="card-header" id="headingCantrips">
          <h5 class="mb-0 text-center">
            <button class="btn btn-link collapsed" data-toggle="collapse"Cantrips data-target="#collapseCantrips" aria-expanded="false" aria-controls="collapseCantrips">
              Cantrips
            </button>
          </h5>
        </div>
        <div id="collapseCantrips" class="collapse" aria-labelledby="headingCantrips" data-parent="#accordion">
          <div class="card-body">
            <ul class="list-unstyled">
              <li *ngFor="let spell of cantrips">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" [(ngModel)]="spell.selected" [ngModelOptions]="{standalone: true}" id="{{spell.name}}">
                  <label class="custom-control-label" for="{{spell.name}}">{{spell.name}}</label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFirst">
          <h5 class="mb-0 text-center">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1st" aria-expanded="false" aria-controls="collapse1st">
              1st Level
            </button>
          </h5>
        </div>
        <div id="collapse1st" class="collapse" aria-labelledby="headingFirst" data-parent="#accordion">
          <div class="card-body">
            <ul class="list-unstyled">
              <li *ngFor="let spell of firstLevelSpells">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" [(ngModel)]="spell.selected" [ngModelOptions]="{standalone: true}" id="{{spell.name}}">
                  <label class="custom-control-label" for="{{spell.name}}">{{spell.name}}</label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading2nd">
          <h5 class="mb-0 text-center">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2nd" aria-expanded="false" aria-controls="collapse2nd">
              2nd Level
            </button>
          </h5>
        </div>
        <div id="collapse2nd" class="collapse" aria-labelledby="heading2nd" data-parent="#accordion">
          <div class="card-body">
            <ul class="list-unstyled">
              <li *ngFor="let spell of secondLevelSpells">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" [(ngModel)]="spell.selected" [ngModelOptions]="{standalone: true}" id="{{spell.name}}">
                  <label class="custom-control-label" for="{{spell.name}}">{{spell.name}}</label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading3rd">
          <h5 class="mb-0 text-center">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3rd" aria-expanded="false" aria-controls="collapse3rd">
              3rd Level
            </button>
          </h5>
        </div>
        <div id="collapse3rd" class="collapse" aria-labelledby="heading3rd" data-parent="#accordion">
          <div class="card-body">
            <ul class="list-unstyled">
              <li *ngFor="let spell of thirdLevelSpells">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" [(ngModel)]="spell.selected" [ngModelOptions]="{standalone: true}" id="{{spell.name}}">
                  <label class="custom-control-label" for="{{spell.name}}">{{spell.name}}</label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading4th">
          <h5 class="mb-0 text-center">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4th" aria-expanded="false" aria-controls="collapse4th">
              4th Level
            </button>
          </h5>
        </div>
        <div id="collapse4th" class="collapse" aria-labelledby="heading4th" data-parent="#accordion">
          <div class="card-body">
            <ul class="list-unstyled">
              <li *ngFor="let spell of fourthLevelSpells">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" [(ngModel)]="spell.selected" [ngModelOptions]="{standalone: true}" id="{{spell.name}}">
                  <label class="custom-control-label" for="{{spell.name}}">{{spell.name}}</label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading5th">
          <h5 class="mb-0 text-center">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5th" aria-expanded="false" aria-controls="collapse5th">
              5th Level
            </button>
          </h5>
        </div>
        <div id="collapse5th" class="collapse" aria-labelledby="heading5th" data-parent="#accordion">
          <div class="card-body">
            <ul class="list-unstyled">
              <li *ngFor="let spell of fifthLevelSpells">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" [(ngModel)]="spell.selected" [ngModelOptions]="{standalone: true}" id="{{spell.name}}">
                  <label class="custom-control-label" for="{{spell.name}}">{{spell.name}}</label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div *ngIf="characterClass.fullSpellCaster">
        <div class="card">
          <div class="card-header" id="heading6th">
            <h5 class="mb-0 text-center">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6th" aria-expanded="false" aria-controls="collapse6th">
                6th Level
              </button>
            </h5>
          </div>
          <div id="collapse6th" class="collapse" aria-labelledby="heading6th" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-unstyled">
                <li *ngFor="let spell of sixthLevelSpells">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="spell.selected" [ngModelOptions]="{standalone: true}" id="{{spell.name}}">
                    <label class="custom-control-label" for="{{spell.name}}">{{spell.name}}</label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading7th">
            <h5 class="mb-0 text-center">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7th" aria-expanded="false" aria-controls="collapse7th">
                7th Level
              </button>
            </h5>
          </div>
          <div id="collapse7th" class="collapse" aria-labelledby="heading7th" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-unstyled">
                <li *ngFor="let spell of seventhLevelSpells">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="spell.selected" [ngModelOptions]="{standalone: true}" id="{{spell.name}}">
                    <label class="custom-control-label" for="{{spell.name}}">{{spell.name}}</label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading8th">
            <h5 class="mb-0 text-center">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8th" aria-expanded="false" aria-controls="collapse8th">
                8th Level
              </button>
            </h5>
          </div>
          <div id="collapse8th" class="collapse" aria-labelledby="heading8th" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-unstyled">
                <li *ngFor="let spell of eighthLevelSpells">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="spell.selected" [ngModelOptions]="{standalone: true}" id="{{spell.name}}">
                    <label class="custom-control-label" for="{{spell.name}}">{{spell.name}}</label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading9th">
            <h5 class="mb-0 text-center">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9th" aria-expanded="false" aria-controls="collapse9th">
                9th Level
              </button>
            </h5>
          </div>
          <div id="collapse9th" class="collapse" aria-labelledby="heading9th" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-unstyled">
                <li *ngFor="let spell of ninthLevelSpells">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="spell.selected" [ngModelOptions]="{standalone: true}" id="{{spell.name}}">
                    <label class="custom-control-label" for="{{spell.name}}">{{spell.name}}</label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button class="btn btn-small btn-success" (click)="updateCharacterClass()">Update</button>
    </div>
  </div>

  <pre *ngIf="jsonClass" class="w-75">
    {{characterClass | json}}
  </pre>
</div>
