@import "../../variables.scss";

button {
  background-color: $background;
  font-family: 'Milonga', cursive;
  font-weight: bold;
  font-size: x-large;
}

.btn {
  min-width: 20em;
  max-width: 35em;
  min-height: 5em;
}

.btn-outline-danger {
  color: $menu;
  border-color: $menu;
}

.btn-outline-danger:hover {
  color: $background;
  background-color: $menu;
  text-decoration: underline;
}
