/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

body {
  background-color: $background;
  background-image: url(./assets/tree-tunnel-at-daytime-1165982.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
